/* * {
    background-clip: border-box;
} */

body {
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    color: seashell;
    opacity: 0.9;
}

header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    background-color: black;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 10;
}

img.logo {
    height: 50px;
    margin-left: 10px;
}

ul.main-nav {
    cursor: pointer;
    float: right;
    color: seashell;
    margin-left: auto;
}

li {
    display: inline;
    margin: 8px;
    text-decoration: underline;
}

a {
    color: seashell;
}

main {
    align-items: center;
    width: 1200px;
    margin: auto;
}

section.mission {
    height: 700px;
    background-image: url("./resources/img/img-mission-background.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mission-title {
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: black;
    text-align: center;
}

section.tea-of-the-month {
    width: 1000px;
    height: auto;
    margin: auto;

}

.totm-title {
    text-align: center;
    padding: 16px;
    margin-top: 24px;
}

.tea-boxes {
    display: inline-flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
    gap: 5%;
    /* flex-wrap: wrap; */
}

.tea-box {
    /* display: inline-flex; */
    
}

img.tea-img {
    height: 200px;
    width: 300px;
}

.tea-title {
    margin-top: 10px;
    text-align: center;
}

.locations {
    height: 500px;
    width: 100%;
    background-image: url("./resources/img/img-locations-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 64px;
    display: inline-block;
    /* position: relative; */
    
}

#location-title {
    margin-top: 10%;
    text-align: center;
}

.location-boxes {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 40px;
    width: 100%;
    align-content: center;
    margin-top: -5px;
}

.location-box {
    background-color: black;
    text-align: center;
    flex-basis: 300px;
    opacity: 1;
}

footer section.contact {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    height: 200px;
}

footer section.copyright {
    margin-left: 20px;
    text-align: left;
}